#Work {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  #Work .swiper-container {
    max-width: 100%;
  }
  
  #Work .swiper-button-prev,
  #Work .swiper-button-next {
    color: #000;
    font-size: 55px;
    cursor: pointer;
  }
  
  #Work .swiper-button-prev:hover,
  #Work .swiper-button-next:hover {
    color: #00f;
    animation: pulse 0.5s infinite;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  